<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div class="container">
      <div class="starter-template">
        <h1>Please create your event</h1>
        <form action="/events/new" method="post">
          <div class="form-group">
            <label for="sport">Select your preferred sport</label>
            <select id="sport_select" name="sport_select">
              <% sports.forEach(function(sport) { %>
                <option value="<%= sport.id %>"><%= sport.name %></option>
              <% }) %>
            </select>
            </div>
            <div class="form-group">
              <label for="skill">Please select opponent's skill level</label>
              <select id="skill" name="skill">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="event_date">Event date</label>
              <input type="date" min="" class="form-control" id="event_date" placeholder="event_date" name="date">
            </div>
            <div class="form-group">
              <label for="time">Event time</label>
              <input class="form-control" type="time" name="time" id="event_time">
            </div>
            <div class="form-group">
              <label for="location">Location</label>
              <input class="form-control" type="text" name="location" placeholder="Please set the location">
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" name="description" placeholder="Do you have any addition?" id="description" rows="8" cols="40"></textarea>

            </div>
            <button type="submit" class="btn btn-default">Create Event!</button>
          </form>
        </div>
      </div>

    <footer>
        <% include ../partials/footer %>
    </footer>
  </body>
</html>
