<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAawpwHidYbVt5nO1Oivnlmr7Jv5Y1TP-4&libraries=places"></script>
  </head>
  <body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <% include ../partials/header %>
      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
              <h2>Please create your event</h2>
              <div class="mdl-grid">
                <form action="/events/new" method="post">

                  <div class="form-group">
                    <label for="sport">Select your preferred sport</label>
                    <select id="sport_select" name="sport_select">
                      <% sports.forEach(function(sport) { %>
                        <option value="<%= sport.id %>"><%= sport.name %></option>
                      <% }) %>
                    </select>
                    </div>

                    <div class="form-group">
                      <label for="skill">Please select opponent's skill level</label>
                      <select id="skill" name="skill">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="event_date">Event date</label>
                      <input type="date" class="form-control" id="available" placeholder="event_date" name="date">
                    </div>
                    <div class="form-group">
                      <label for="time">Event time</label>
                      <input class="form-control" type="time" name="time">
                    </div>
                    <div class="form-group">
                      <label for="location">Location</label>
                      <input  id="searchTextField" type="text" name="location" placeholder="Please set the location" size="50">

                    </div>
                    <div class="form-group">
                      <label for="description">Description</label>
                      <textarea class="form-control" name="description" placeholder="Do you have any addition?" id="description" rows="8" cols="40"></textarea>

                    </div>
                    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Create Event</button>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="mdl-mini-footer">
          <% include ../partials/footer %>
      </footer>

    </div>


    <script type="text/javascript">
    function initialize() {
      var input = document.getElementById('searchTextField');
      var autocomplete = new google.maps.places.Autocomplete(input);
      }
      google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </body>
</html>
