<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<form action="/events/search" method="post">
  <div class="form-group">
    <label for="sport">Select your preferred sport</label>
    <select id="sport_select" name="sport_select">
      <% sports.forEach(function(sport) { %>
        <option value="<%= sport.id %>"><%= sport.name %></option>
      <% }) %>
    </select>
    </div>
    <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Search Event</button>
</form>
  </body>
</html>
