<div class="mdl-mini-footer__left-section">
  © 2016 <a href="https://github.com/alfie-ab">Alfie</a>, <a href="https://github.com/BenRoss92">Ben</a>, <a href="https://github.com/ercekal">Erce</a>, <a href="https://github.com/peter-miklos">Peter</a>, <a href="https://github.com/nephast">Stéphan</a> & <a href="https://github.com/supasuma">Summer</a>
</div>
