<div class="mdl-mini-footer__left-section">
  <div class="mdl-logo">Sports Friend Finder</div>
  <ul class="mdl-mini-footer__link-list">
    <li>© Copyright 2016 Alfie, Ben, Erce, Peter, Stephan & Summer</li>
  </ul>
</div>
