<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title">SFF</span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation. We hide it in small screens. -->
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <% if (currentUser) { %>
        Logged in: <a class="mdl-navigation__link" href=""><%= currentUser.name %></a>
      <% } %>
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer" id="menu">
  <span class="mdl-layout-title">SFF</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/">Home</a>
    <a class="mdl-navigation__link" href="/events/index">All events</a>
    <% if (currentUser) { %>
      <a class="mdl-navigation__link" href="/events/new">Add event</a>
      <a class="mdl-navigation__link" href="/sessions/<%= currentUser.id %>/requests/index">My requests</a>
      <a class="mdl-navigation__link" href="/sessions/logout">Log out</a>
    <% } else { %>
      <a class="mdl-navigation__link" href="/users/new">Sign up</a>
      <a class="mdl-navigation__link" href="/sessions/login">Log in</a>
    <% } %>
  </nav>
</div>
