<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <p>Welcome to Sports Friend Finder</p>
    <div>
      <form action="/users/signup" method="post">
        <input type="submit" value="Sign up">
      </form>
      <form action="/users/login" method="post">
        <input type="submit" value="Log in">
      </form>
    </div>



  </body>

</html>
