<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <header>
      <% include partials/header %>
    </header>

    <main>
      <div class='jumbotron'>
        <h1>Welcome to Sports Friend Finder</h1>
      </div>


        <div>
          <form action="/users/signup" method="post">
            <input type="submit" value="Sign up">
          </form>
          <form action="/users/login" method="post">
            <input type="submit" value="Log in">
          </form>
        </div>
    </main>
    <footer>
        <% include partials/footer %>
    </footer>



  </body>

</html>
