<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    <script src="https://maps.google.com/maps/api/js?key=<%=process.env.GOOGLE_API%>&libraries=places" type="text/javascript"></script>
  </head>
  <body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      <% include partials/header %>

      <main class="mdl-layout__content">
        <div id="map"></div>
        <p align="center"><% include partials/flash %></p>
      </main>
      <footer class="mdl-mini-footer">
          <% include partials/footer %>
      </footer>
    </div>
  </body>
</html>
