<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/" method="post">
      Email: <input type="email" name="email"></input>
      <br>
      Password: <input type="password" name="password"></input>
      <br>
      <input type="submit" value="Log in"></input>
    </form>
  </body>
</html>
