<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <header>
      <% include partials/header %>
    </header>
      <form class="" action="/" method="post">
        Email: <input type="email" name="email"></input>
        <br>
        Password: <input type="password" name="password"></input>
        <br>
        <input type="submit" value="Log in"></input>
      </form>

    <footer>
        <% include partials/footer %>
    </footer>
  </body>
</html>
