<div class="container">
  <div class="starter-template">
    <h1>Please create your event</h1>
    <form action="/events" method="post">
      <div class="form-group">
        <label for="sport">Select your preferred sport</label>
        <select id="sport">
          <option value="ping pong">Ping pong</option>
          <option value="wrestling">wrestling</option>
          <option value="tennis">Tennis</option>
        </select>
        <!-- <input type="text" class="form-control" id="name" placeholder="Name" name="name"> -->
      </div>
      <div class="form-group">
        <label for="skill">Please select opponent's skill level</label>
        <label><input type="checkbox" id="beginner" value="beginner">Beginner</label><br>
        <label><input type="checkbox" id="medium" value="medium">Medium</label><br>
        <label><input type="checkbox" id="expert" value="expert">Expert</label><br>
      </div>
      <div class="form-group">
        <label for="event_date">Event date</label>
        <input type="date" class="form-control" id="available" placeholder="event_date" name="event_date">
      </div>
      <div class="form-group">
        <label for="time">Event time</label>
          <input type="time" name="time">
      </div>
      <div class="form-group">
        <label for="comment">Any comments?</label>
          <input type="text" name="comment" value="comment">
      </div>
      <button type="submit" class="btn btn-default">Create Event!</button>
    </form>
  </div>
</div>
