<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= title %></h1>    
    <form class="" action="/users/signup" method="post">
      Name: <input type="text" name="name"></input>
      <br>
      Email: <input type="email" name="email"></input>
      <br>
      Password: <input type="password" name="password"></input>
      <br>
      Password confirmation: <input type="password" name="password_confirmation"></input>
      <br>
      <input type="submit" value="Create account"></input>
    </form>
  </body>
</html>
