body {
  padding-top: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.full-width {
    width: 100%;
}

.form-horizontal {
  padding-top: 20px;

}

a {
  color: #00B7FF;
}

.width-fixer {
  width: 100%;
}
