body {
  padding-top: 0px;
  font-family: 'Work Sans', sans-serif;

  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

main {
  font-family: 'Work Sans', sans-serif;

  height: 100%;
}


.table .sub-table {
  background-color: #f3f3f3;

}

.table .sub-table tr:first-child td {
  border-top: 0;
}

body .main-table {
  width: auto;
  min-width: 70%;
}

.show-tr {
  display: table-row;
}


.full-width {
    width: 100%;
}

.form-horizontal {
  padding-top: 20px;

}

header .mdl-layout-title {
  font-family:'Share Tech Mono', monospace;
  font-size: 30px;
}

body .mdl-layout-title {
  font-family:'Share Tech Mono', monospace;
  font-size: 30px;
}

a {
  color: #00B7FF;
}

.width-fixer {
  width: 100%;
}

#map {
  width: 100%;
  height: 100%;

}

#acceptRejectButton {
  float: left;
  padding: 5px;
}
