body {
  padding-top: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
  height: 100%;
}

.full-width {
    width: 100%;
}

.form-horizontal {
  padding-top: 20px;

}

a {
  color: #00B7FF;
}

#map {
  width: 100%;
  height: 100%;
}

.searchBar {
  padding-bottom: 10px;
}
