body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


table.eventDetail {
  margin-top: 10px;
  width: 100%;

}

table.eventDetail td {
  padding: 10px;
}

table.eventDetail th {
  width: 20%;

}
