<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>

    <header>
      <% include ../partials/header %>
    </header>
    <div class="col-md-6 col-md-offset-3">
      <form class="form-horizontal" action="/users/login" method="post">

        <div class="form-group">
          <label class="control-label col-sm-2" for="email">Email:</label>
          <div class="col-sm-5">
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="pwd">Password:</label>
          <div class="col-sm-5">
            <input type="password" class="form-control" id="pwd" name="password" placeholder="Enter Password">
          </div>
        </div>

      </form>
      <footer>
          <% include ../partials/footer %>
      </footer>
    </div>




  </body>
</html>
