<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <% include ../partials/header %>
      <main class="mdl-layout__content">
        <div class="page-content">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone mdl-cell--8-col-tablet">
              <form action="/sessions/login" method="post">

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <label class="mdl-textfield__label" for="email">Email:</label>
                  <input type="email" class="mdl-textfield__input" id="email" name="email">
                </div>

                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <label class="mdl-textfield__label" for="pwd">Password:</label>
                  <input type="password" class="mdl-textfield__input" id="pwd" name="password">
                </div>

                <div class="">
                  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                    Log in
                  </button>
                </div>

                <div class="">
                  <p align="center"><% include ../partials/flash %></p>
                </div>

              </form>
            </div>
          </div>
        </div>
      </main>
      <footer class="mdl-mini-footer">
          <% include ../partials/footer %>
      </footer>
    </div>
  </body>
</html>
